.chart {
	-fx-alternative-row-fill-visible: false;
	-fx-alternative-column-fill-visible: false;
	-fx-horizontal-grid-lines-visible: false;
	-fx-vertical-grid-lines-visible: false;
	-fx-horizontal-zero-line-visible: false;
	-fx-vertical-zero-line-visible: false;
}
.chart-plot-background {
    -fx-background-color: null;
}
.chart-content {
    -fx-background-color: null;
}
.chart-title {
	visibility: hidden;
}
.chart-horizontal-grid-lines {
	visibility: hidden;
}
.chart-vertical-grid-lines {
	visibility: hidden;
}
